<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNMIT Chat Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../static/bnm_logo.png" class="logo">
            <h1>Hi! How can I help you today?</h1>
        </div>
        <div class="chat-box" id="chat-box"></div>
        <div class="user-input">
            <input type="text" id="user-input" placeholder="Type your query here...">
            <img src="../static/send_icon.jpg" onclick="sendMessage()" style="cursor: pointer" class="send_button">
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>